numpy>=1.15.4
pandas>=0.25.1
opencv-python>=4.1.1.26
opencv-python-headless>=4.1.1.26
torch>=1.2.0
torchvision>=0.4.0
albumentations>=0.3.2
geopandas>=0.5.1
matplotlib>=3.1.1
Shapely>=1.6.4.post2
osmnx>=0.10
tifffile>=2019.7.26
tqdm>=4.32.1
pygeoif>=0.7
rtree>=0.8.3
networkx==2.3
scipy>=1.2.0
scikit-image==0.15.0
affine>=2.2.1
utm>=0.4.0
rasterio>=1.0.22
power-fist>=0.2.4
torchsummary>=1.5.1
statsmodels>=0.10.1
numba>=0.46.0